<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<table align="center">
  <tr>
    <td>
      <mat-label id="lblFirstLetter" [ngClass]="'formControl'">First Letter of First Name</mat-label>
    </td>
    <td>
      <mat-form-field id="selectFirstLetter" [ngClass]="'formControl'">
        <mat-select [(ngModel)]="selectedFirstLetter">
          <mat-option *ngFor="let record of firstLetter" [value]="record.letter">{{record.letter.toUpperCase()}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-label id="lblDayOfBirth" [ngClass]="'formControl'">Day of Birth</mat-label>
    </td>
    <td>
      <mat-form-field id="selectDayOfBirth" [ngClass]="'formControl'">
        <mat-select [(ngModel)]="selectedDayOfBirth">
          <mat-option *ngFor="let record of dayOfBirth" [value]="record.dayOfBirth">{{record.dayOfBirth}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-label id="lblSurnameLetter" [ngClass]="'formControl'">First Letter of Surname</mat-label>
    </td>
    <td>
      <mat-form-field id="selectSurnameLetter" [ngClass]="'formControl'">
        <mat-select [(ngModel)]="selectedSurnameLetter">
          <mat-option *ngFor="let record of surnameLetter" [value]="record.letter">{{record.letter.toUpperCase()}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td><button mat-button (click)="onClick()">Get Move</button></td>
    <td><mat-label [ngClass]="'formControl'">{{selectedMove}}</mat-label></td>
  </tr>
</table>