<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <table align="center">
    <tr>
      <td>
        <mat-form-field style="width: 300px;">
          <mat-label id="lblFirstLetter">First Letter of First Name</mat-label>
          <mat-select [ngModel]="store.firstLetter()" (ngModelChange)="store.updateFirstMove($event)">
            @for (record of firstLetter; track record.letter) {
              <mat-option [value]="record.letter">{{ record.letter.toUpperCase() }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field style="width: 300px;">
          <mat-label id="lblDayOfBirth">Day of Birth</mat-label>
          <mat-select [ngModel]="store.dayOfBirth()" (ngModelChange)="store.updateSecondMove($event)">
            @for (record of dayOfBirth; track record.dayOfBirth) {
              <mat-option [value]="record.dayOfBirth">{{ record.dayOfBirth }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field style="width: 300px;">
          <mat-label id="lblSurnameLetter">First Letter of Surname</mat-label>
          <mat-select [ngModel]="store.surnameLetter()" (ngModelChange)="store.updateThirdMove($event)">
            @for (record of surnameLetter; track record.letter) {
              <mat-option [value]="record.letter">{{ record.letter.toUpperCase() }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td style="text-align: center"><h2>{{store.firstMove()}} {{store.secondMove()}} {{store.thirdMove()}}</h2></td>
    </tr>
  </table>
</div>
